@keyframes animation-enter {
      0% {
            opacity: 0;
            transform: translateY(-100%);
      }
      70% {
            opacity: 1;
            transform: translateY(10px);
      }
      100% {
            opacity: 1;
            transform: translateY(0);
      }

}

.animation-enter {
      animation: animation-enter 0.5s ease-in-out;
}