@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

/* Verhindert das beim Modal die Maus nicht pointer ist wenn die maus außerhalb des modals ist (für das schließen des modals) */
.modal-backdrop button {
      cursor: auto !important;
}

/* Verhindert das Layout-Shift beim Modal öffnen */
:root {
  scrollbar-gutter: unset !important;
}

/* Toast animation */
@keyframes toast-enter {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  70% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-toast-enter {
  animation: toast-enter 0.5s ease-in-out;
}